*{
    margin: 0;
    padding: 0;
}
.parent{
    background-image: url(panoramic-view-sunset-night.jpg);
    width: 100%;
    height: 100vh;
    object-fit: cover;
    background-position: center;
    background-size: cover;
    position: relative;
}
.headx{
    color: rgb(255, 255, 255);
    margin: auto;
    position: absolute;
    top: 0%;
    padding-left: 230px;
    padding-top: 50px;
}
img{
        padding-top: 140px;
        padding-left: 650px;
        width: 1000px;
        height: auto;
        
}
.heady{
    margin-top: 50px;
    margin-left: 80px;
    width: 500px;
    height: auto;
    color: white;
    top: 0%;
    position: absolute;
    padding-top: 250px;
    padding-left: 150px;
}
.par{
    margin-top: 25px;
}
.dot p{
    display: inline;
    font-size: 70px;
}
.dot1{
    padding-right: 5px;
    opacity: .5;
}