*{
    margin: 0;
    padding: 0;
}
.parent{
    width: 100%;
    background-color: blue;
    display: grid;
    grid-template-columns: repeat(2,25%);
    grid-template-rows: repeat(3,1fr);
    gap: 20px;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.card{
    background-color: brown;
   
    border: 1px solid white;
}