*{
    margin: 0;
    padding: 0;
}
.parent{
    width: 100%;
    height: 100vh;
    background-image: url(bg.jpeg);
    object-fit: cover;
    background-position: center;
    background-size: contain;
    position: relative;
}
.nav{
    height: 10vh;
    color: white;
    justify-content: space-between;
    display: flex;
    align-items: center;
}
h3{
    margin-left: 10px;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
ul{
    display: flex;
    list-style: none;
}
li{
    margin-right: 20x;
    padding: 10px 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;;
}
.cx{
    margin-right: 20px;
    width: 50px;
    height: auto;
    background-color: aliceblue;
    color: black;
    border-radius: 5px;
}
.main{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
    color: white;
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.image{
    position: absolute;
    margin-top: 300px;
}
 img{
    width: 200px;
    height: 200px;
}
.card{
    display: grid;
    grid-template-columns: repeat(2,50%);
    grid-template-rows: repeat(3,75%);
    width: 100%;
    height: 100vh;
    position: relative;
}
.card1{
    background-color: rgb(253, 253, 253);
}
.cardx{
    top: 7%;
    align-items: center;
    justify-content: center;
    display: flex;
    left: 15%;
    position: absolute;
    margin-right: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.par{
    margin-top: 150px;
    width: 300px;
    height: 100px;
    left: 15%;
    position: absolute;
}
.lari{
    top: 50%;
    margin-top: 250px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 250px;
}
.lar{
    margin-top: 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 200px;
}
.card2{
    background-image: url(egg.jpeg);
    object-fit: cover;
    background-size: cover;
}
.card3{
    background-image: url(2.jpeg);
    object-fit: cover;
    background-size: cover;
}
.card5{
    background-image: url(3.jpeg);
    object-fit: cover;
    background-size: cover;
}
.card6{
    background-image: url(4.jpeg);
    object-fit: cover;
    background-size: cover;
}
.cardy{
    margin-right: 95px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 20%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.cardm{
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 50%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.parx{
    margin-top: 25px;
    width: 300px;
    height: 100px;
    position: absolute;
    margin-left: 200px;
}
.parg{
    margin-top: 25px;
    left: 3%;
    width: 300px;
    height: 100px;
    position: absolute;
    margin-left: 250px;
}
.cardg{
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 50%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.parl{
    margin-top: 25px;
    width: 300px;
    height: 100px;
    position: absolute;
    left: 68%;
}
.grid{
        margin-top: 1050px;
        justify-content: space-evenly;
}
.headx{
    color: rgb(146, 155, 162);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
.card8{
        background-color: rgb(255, 255, 255);
        width: 33.33%;
        border: 1px solid rgb(254, 253, 253);
}
.cd{
    justify-content: space-evenly;
    height: 80vh;
    display: flex;
    justify-content: center;
}
.icon img{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin-left: 200px;
    margin-top: 150px;
}
.icon{
    width: 400px;
}
.param{
    display: flex;
    justify-content: center;
    text-align: center;
    
}
.end{
    color: black;
    margin-top: 30px;
    padding-left: 100px;
    text-align: center;
}
.end h3{
    color: black;
}
.icon p{
    margin-left: 130px;
}
.grids{
    display: grid;
    grid-template-columns: repeat(4,25%);
    grid-template-rows: repeat(1,1fr);
    width: 100%;
    height: 70vh;
}
.grid1{
    background-color: rgb(253, 253, 253);
    background-image: url(5.jpeg);
    background-position: center;
    background-size: cover;
    object-fit: cover;
}
.grid2{
    background-color: rgb(253, 253, 253);
    background-image: url(6.jpeg);
    background-position: center;
    background-size: cover;
    object-fit: cover;
}
.grid3{
    background-color: rgb(253, 253, 253);
    background-image: url(7.jpeg);
    background-position: center;
    background-size: cover;
    object-fit: cover;
}
.grid4{
    background-color: rgb(253, 253, 253);
    background-image: url(8.jpeg);
    background-position: center;
    background-size: cover;
    object-fit: cover;
}
.footer{
    width: 100%;
    height: 50vh;
    background-color: rgb(103, 156, 103);
}
.arr{
    padding-top: 150px;
    color: rgb(37, 39, 40);
}
.headr h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    align-self: center;
    justify-content: center;
    margin-right: 100px;
    
}
li{
    display: inline;
    text-align: center;
    margin-left: 50px;
}
ul{
    text-align: center;
    margin-left: 500px
}
.last{
    margin-top: 20px;
    text-align: center;
    margin-right: 100px;
}
.last img{
    width: 25px;
    height: 25px;
    padding-left: 25px;
}
